fastapi==0.116.1
uvicorn==0.35.0

numpy==2.3.1
pandas==2.3.0
scikit-learn==1.7.0
joblib==1.5.1

pydantic==2.11.7
python-dotenv==1.1.1
requests==2.32.4

streamlit==1.46.1

dash==3.1.1
plotly==6.2.0
statsmodels==0.14.5
openpyxl==3.1.5

matplotlib==3.10.3

gunicorn==23.0.0